<!DOCTYPE html>
<html>
<head>
  <title>Pupppypages</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="google-site-verification" content="InrUHgjX8PxLB43mOIj5DxjnpdXJMzz9qguiqVZigfo" />
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render 'layouts/_header' %>


<%= yield %>

    <%= render 'layouts/_footer' %>
</body>
</html>
